{% extends 'layout.html' %}


{% block body %}
<br>
<fieldset>
<font size="4"><b>
Using the power of the <a
href="https://dev.locu.com/documentation/">Locu</a> and <a
href="https://8tracks.com/developers">8tracks</a> APIs, we have combined
the two to create one awesome project.
<br>
First, you enter any location you like,
and we will use the Locu API to find a resturant in that area. Using
the restaurant's name, we then serach through the 8tracks API to find
an appropriate song to fit the restaurant's name! Now it's your turn
to try it out!
{% endblock %}