<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>

<title>Location</title>
<meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet"
href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<style>
.flashes {color: red; text-indent: 50px}
</style>
</head>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>  
    </ul>
 </div>

<body>
    <div class="pure-g">
   <div class="pure-u-1-5"></div>
   <div class="pure-u-3-5">

<font face ="Baskerville" size ="6">From Locations to Restaurants to
    Music.</font>
     <br>
<font face ="Baskerville" size = "5">Find your song today</font>
<br>
{% block body %}
{% if answer %}
<center>
<h1>{{answer}}</h1>
<br>
<iframe src="http://8tracks.com/mixes/{{ID}}/player_v3_universal" width="400" height="400"></iframe><br>
<font size="2">Appropriate music: <a href="?utm_medium=trax_embed">{{Title}}</a> from <a href="?utm_medium=trax_embed">{{User}}</a> on <a href="http://8tracks.com?utm_medium=trax_embed">8tracks Radio</a>.</p>
</center>
{% endif %}

{% endblock %}
<br>
<br>
</body> </html>
