{% extends 'layout.html' %}


{% block body %}

{% if answer %}
<center>
<h1>{{answer}}</h1>
<br>
<iframe src="http://8tracks.com/mixes/{{ID}}/player_v3_universal" width="400" height="400"></iframe><br>
<fonr size="2">Appropriate music: <a href="?utm_medium=trax_embed">{{Title}}</a> from <a href="?utm_medium=trax_embed">{{User}}</a> on <a href="http://8tracks.com?utm_medium=trax_embed">8tracks Radio</a>.</p>
</center>
{% endif %}
<br>
<h1> Search Restaruant </h1>
<br>
<br>
<fieldset>
<font size="4"><b>Enter a location</font></b>
<br><br>
<div style="margin-left:30px;">
<form name="input" method="POST" class="pure-form
   pure-form-aligned">
<label for="search">Location:</label>
  <input id="search" name="search" type="text" placeholder="New
  York">
  <button type="submit" name="submit" value="gpa" class="pure-button">submit</button>
  </fieldset>
</form>
</div>

<br>
<br>

{% endblock %}
