{% extends 'layout.html' %}


{% block body %}
<h1> Search Restaruant </h1>

 {% if answer %}

{{answer}}

{% endif %}

<br>
<br>
<fieldset>
<font size="4"><b>Enter a location</font></b>
<br><br>
<div style="margin-left:30px;">
<form name="input" method="POST" class="pure-form
   pure-form-aligned">
<label for="search">Location:</label>
  <input id="search" name="search" type="text" placeholder="New
  York">
  <button type="submit" name="submit" value="gpa" class="pure-button">submit</button>
  </fieldset>
</form>
</div>

<br>

{% endblock %}
